.hotlight-sentence {

    & > * {
        border-top: 0.75em solid transparent;
    }

    & [contenteditable="true"] {
        outline: none;
        border-bottom: 2px solid transparent;
        transition: border 0.3s;
        &:hover {
            border-bottom-color: #CCC;
        }
        &:focus {
            border-bottom-color: blue;
        }
    }

    & > .hotlight-slot {
        position: relative;

        & + .hotlight-slot {
            margin-left: 2px;
        }

        & > *:nth-child(2) {
            display: inline-block;
            background-color: #ffff88;
        }

        .hotlight-slot-expander {

            display: inline-block;
            vertical-align: middle;
            cursor: col-resize;
            width: 4px;
            height: 1em;
            background: #CCC;
            color: transparent;
            opacity: 0;
            z-index: 10;
            border-bottom: 2px solid transparent;
            transition: all 0.25s;

            &::before {
                content: "";
                display: block;
                position: relative;
                top: -10px;
                left: -3px;
                width: 10px;
                height: 10px;
                z-index: 1;
                background: #CCC;
                transition: all 0.25s;
            }
            &:hover,
            &:hover::before {
                background: blue;
            }
        }

        &:hover .hotlight-slot-expander,
        &.hotlight-expanding .hotlight-slot-expander {
            opacity: 1
        }

        &.hotlight-expanding-start .hotlight-slot-start,
        &.hotlight-expanding-end .hotlight-slot-end {
            background: blue;
            &::before {
                background: blue;
            }
        }
    }
}